* {
  font-family: verdana;
  background-color: black;
  text-align: center;
  color: white;
}
.headertitle {
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
}
.middle-title {
  font-weight: 300;
  font-size: 42px;
}
.descparag {
  font-size: 21px;
  color: gray;
}
.bottomtag {
  text-align: right;
  color: grey;
}
.maincontent{
  justify-content: center;
}
.phonepic {

}
